body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  background: url('../img/fon.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
@import 'variables';
@import 'components/all';
